html {
  background: #2B363C;
}

.spash-top-container {
  width: 100%;
}

.splash-img {
    width: 250px;
    height: 108px;
}

.fitur-search {
  padding-left: 25px;
  padding-right: 25px;
}

.input-search {
  border-radius: 7px !important;
}

.hint-search {
  color: #FECEA8;
  margin-top: 25px;
  margin-bottom: 25px;
}

.button-search {
  background: #99B898;
  border-radius: 7px;
  padding: 10px 28px;
  font-size: 1.5rem;
}

.navbar-trans {
  background: transparent;
  padding-top: 15px;
}

.navbar-prev {
  background: transparent;
  color: #fff;
  padding-left: 10px;
}

.nama-resto {
  color: #fff;
  font-size: 35px;
  margin-bottom: 25px;
}

.gambar-resto {
  padding-top: 15px;
  padding-bottom: 15px;
}

.booking-form {
  padding-bottom: 40px;
}

.booking-label {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 5px;
}

.booking-group {
  padding-left: 25px;
  padding-right: 25px;
}

.booking-input {
  border-radius: 7px !important;
}

.booking-button {
  margin-top: 35px;
  background: #33FD81;
  border-radius: 7px;
  padding: 10px 28px;
  font-size: 1.5rem;
}

.menu-container {
  margin-top: 40px;

}

.form-bayar {
  padding-bottom: 30px;
}

.menu-group {
  background: #fff;
}

.column-option {
  background: #FF500F;
  padding-left: 0px !important;
}

.nama-menu {
  font-size: 70px;
  padding-bottom: 25px;
}

.harga-menu {
  padding-top: 25px;
  font-size: 60px;
  color: #33AD1F;
}

.button-opsi {
  height: 100%;
  font-size: 3rem;
}

.button-opsi-padding {
  padding: 5px;
}

.button-incdec {
  background: transparent;
  color: #fff;
}

.bayar-button {
  margin-top: 55px;
  background: #FF500F;
  border-radius: 7px;
  padding: 10px 28px;
  font-size: 1.5rem;
}

/* ROUTE */
.route-title {
  font-size: 2rem;
  color: #fff;
}

.gambar-peta {
  padding-top: 40px;
  padding-bottom: 25px;
}

.current-location {
  background: #fff;
  font-size: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 7px;
}

.jarak-kiri {
  padding-left: 15px;
}

.vehicle-group {
  margin-top: 25px;
  margin-bottom: 40px;
}

.route-button {
  margin-top: 35px;
  margin-bottom: 35px;
  background: #33FD81;
  border-radius: 7px;
  padding: 10px 60px;
  font-size: 1.5rem;
}



@media (max-width: 768px) {

  .nama-menu {
    font-size: 40px;
    padding-bottom: 15px;
  }

  .harga-menu {
    font-size: 30px;
    padding-top: 15px;
  }

  .button-opsi {
    font-size: 2rem;
  }

}

@media (max-width: 480px) {

  .nama-menu {
    font-size: 25px;
    padding-bottom: 5px;
  }

  .harga-menu {
    font-size: 15px;
    padding-top: 5px;
  }

  .button-opsi {
    font-size: 1rem;
    vertical-align: -10%;
  }

  .current-location {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

@media (max-width: 320px) {
  .current-location {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
