html {
  background: #2B363C;
}

.spash-top-container {
  width: 100%;
}

.splash-img {
    width: 250px;
    height: 108px;
}

.fitur-search {
  padding-left: 25px;
  padding-right: 25px;
}

.input-search {
  border-radius: 7px !important;
}

.hint-search {
  color: #FECEA8;
  margin-top: 25px;
  margin-bottom: 25px;
}

.button-search {
  background: #99B898;
  border-radius: 7px;
  padding: 10px 28px;
  font-size: 1.5rem;
}

.navbar-trans {
  background: transparent;
  padding-top: 15px;
}

.navbar-prev {
  background: transparent;
  color: #fff;
  padding-left: 10px;
}

.nama-resto {
  color: #fff;
  font-size: 35px;
  margin-bottom: 25px;
}

.gambar-resto {
  padding-top: 15px;
  padding-bottom: 15px;
}

.booking-label {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 5px;
}

.booking-group {
  padding-left: 25px;
  padding-right: 25px;
}

.booking-input {
  border-radius: 7px !important;
}

.booking-button {
  margin-top: 35px;
  background: #33FD81;
  border-radius: 7px;
  padding: 10px 28px;
  font-size: 1.5rem;
}

.booking-form {
  padding-bottom: 40px;
}
