html {
  background: #2B363C;
}

body { display: none; }

.spash-top-container {
  width: 100%;
}

.splash-img {
  width: 250px;
  height: 108px;
}

.splash-top-img {
  width: 150px;
  height: 65px;
}

.fitur-search {
  padding-left: 25px;
  padding-right: 25px;
}

.input-search {
  border-radius: 7px !important;
}

.hint-search {
  color: #FECEA8;
  margin-top: 25px;
  margin-bottom: 25px;
}

.button-search {
  background: #99B898;
  border-radius: 7px;
  padding: 10px 28px;
  font-size: 1.5rem;
}

.navbar-trans {
  background: transparent;
  padding-top: 15px;
}

.navbar-prev {
  background: transparent;
  color: #fff;
  padding-left: 10px;
}

.nama-resto {
  color: #fff;
  font-size: 35px;
  margin-bottom: 25px;
}

.gambar-resto {
  padding-top: 15px;
  padding-bottom: 15px;
}

.booking-form {
  padding-bottom: 40px;
}

.booking-label {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 5px;
}

.booking-group {
  padding-left: 25px;
  padding-right: 25px;
}

.booking-input {
  border-radius: 7px !important;
}

.booking-button {
  margin-top: 35px;
  background: #33FD81;
  border-radius: 7px;
  padding: 10px 28px;
  font-size: 1.5rem;
}

.menu-container {
  margin-top: 40px;

}

.form-bayar {
  padding-bottom: 30px;
}

.menu-group {
  background: #fff;
}

.column-option {
  background: #FF500F;
  padding-left: 0px !important;
}

.nama-menu {
  font-size: 70px;
  padding-bottom: 25px;
}

.harga-menu {
  padding-top: 25px;
  font-size: 60px;
  color: #33AD1F;
}

.button-opsi {
  height: 100%;
  font-size: 3rem;
}

.button-opsi-padding {
  padding: 5px;
}

.button-incdec {
  background: transparent;
  color: #fff;
}

.bayar-button {
  margin-top: 55px;
  background: #FF500F;
  border-radius: 7px;
  padding: 10px 28px;
  font-size: 1.5rem;
}

/* ROUTE */
.route-title {
  font-size: 2rem;
  color: #fff;
}

.gambar-peta {
  padding-top: 40px;
  padding-bottom: 45px;
}

.current-location {
  background: #fff;
  font-size: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 7px;
}

.jarak-kiri {
  padding-left: 15px;
}

.vehicle-group {
  margin-top: 25px;
  margin-bottom: 40px;
}

.route-button {
  margin-top: 35px;
  margin-bottom: 35px;
  background: #33FD81;
  border-radius: 7px;
  padding: 10px 60px;
  font-size: 1.5rem;
}

/* DETAIL TEMPAT */
.alamat-group {
  padding-top: 20px;
  padding-left: 25px;
}

.detail-resto-nama {
  color: #fff;
  font-size: 55px;
  padding-bottom: 10px;
}

.alamat-resto {
  color: #ABAEAE;
  font-size: 30px;
}

.budget-group  {
  background: #E84B60;
  padding: 25px 25px 15px 25px;
}

.budget-title {
  margin-bottom: 25px;
}

.budget-resto {
  color: #fff;
  font-size: 45px;
}

.rating-group {
  margin-top: 30px;
}

.rating-group-icon {
  height: 50px;
  width: 50px;
}

.detail-button-group {
  width: 100%;
  max-width: 100%;
  padding: 50px 40px 0 35px;
}

.detail-button {
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

figcaption.detail-menu-flex {
  padding-left: 120px;
}

.booking-button-text {
  color: #000;
}

/* HASIL PENCARIAN */
.hasil-cari-text {
  color: #fff;
  font-size: 30px;
}

.hasil-cari-container {
  margin-top: 40px;
}

.hasil-cari-resto-group {
  padding-left: 50px;
  padding-right: 20px;
}

.hasil-resto-content {
  box-shadow: 0 0 30px #000;
  padding-left: 0px;
}

.hasil-cari-detail {
  background: #fff;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.hasil-cari-nama-resto {
  font-size: 25px;
}

.icon-rating {
  color: #FACA24;
}

.hasil-cari-rating {
  font-size: 35px;
  color: #000;
}

.hasil-cari-alamat {
  font-size: 15px;
  margin-top: 5px;
}

.hasil-cari-avg-title {
  color: #E84A5F;
  font-size: 15px;
  margin-bottom: 0px;
}

.hasil-cari-harga-value {
  color: #64B161;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
}

.hasil-cari-orb-group {
   margin-top: 150px;
   padding-bottom: 50px;
}

.orb-created-by {
  color: #fff;
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 50%;
}

/* Halaman Login */
.login-input {
	margin-bottom: 20px !important;
}

.konfirmasi-pelurusan {
  padding-left: 20px;
  padding-right: 20px;
}

/* Halaman Konfirmasi Pembayaran */
.konfirmasi-container {
  margin-top: 40px;
  padding-bottom: 60px;
}

.konfirmasi-title {
	color: #fff;
	font-size: 40px;
}

.konfirmasi-pembayaran-title {
  color: #fff;
	font-size: 40px;
}

.konfirmasi-code {
	color: #FD7F23;
	font-size: 55px;
	margin-top: 40px;
	margin-bottom: 80px;
}

.konfirmasi-input {
	margin-bottom: 20px !important;
}

.konfirmasi-button {
	background: #FF8400;
}

/* KODE KONFIRMASI */
.go-detail a {
	font-size: 30px;
	color: #FF6464;
	text-decoration: underline;
}

.go-detail {
	margin-bottom: 100px;
}

.code-booking-button {
	background: #00FF00;
  padding: 20px;
}

/* PILIH BANK */
.pilih-bank-code {
	color: #FD7F23;
	font-size: 55px;
}

.pilih-bank-title {
	color: #fff;
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 80px;
}

.nama-rek {
	color: #fff;
	font-size: 50px;
	margin-top: 100px;
  margin-right: 30px;
}

.nomor-rek {
	color: #32FD3D;
	font-size: 70px;
  margin-right: 30px;
}


@media (max-width: 768px) {

  .nama-menu {
    font-size: 40px;
    padding-bottom: 15px;
  }

  .harga-menu {
    font-size: 30px;
    padding-top: 15px;
  }

  .button-opsi {
    font-size: 2rem;
  }

  .detail-resto-nama {
    font-size: 30px;
    padding-bottom: 5px;
  }

  .alamat-resto {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
  }

  .budget-group  {
    padding: 15px 15px 5px 15px;
  }

  .budget-resto {
    font-size: 25px;
  }

  .budget-title {
    margin-bottom: 10px;
  }

  .budget-harga {
    margin-top: 10px !important;
  }

  .rating-group-icon {
    height: 35px;
    width: 35px;
  }

  .detail-button {
    font-size: 40px;
  }

  figcaption.detail-menu-flex {
    padding-left: 80px;
  }

  .hasil-cari-text {
    font-size: 25px;
  }

  .hasil-cari-detail {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .hasil-cari-nama-resto {
    font-size: 20px;
  }

  .hasil-cari-rating {
    font-size: 25px;
  }

  .hasil-cari-alamat {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .hasil-cari-avg-title {
    margin-top: 0px;
    font-size: 12px;
  }

  .hasil-cari-harga-value {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .konfirmasi-title {
  	font-size: 25px;
  }

  .pilih-bank-code {
    font-size: 35px;
  }

  .pilih-bank-title {
    font-size: 25px;
  }

  .nama-rek {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .nomor-rek {
  	font-size: 30px;
    margin-top: 0px;
  }

}

@media (max-width: 480px) {

  .nama-menu {
    font-size: 25px;
    padding-bottom: 5px;
  }

  .harga-menu {
    font-size: 15px;
    padding-top: 5px;
  }

  .button-opsi {
    font-size: 1rem;
    vertical-align: -10%;
  }

  .current-location {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .detail-resto-nama {
    font-size: 25px;
    padding-bottom: 0px;
  }

  .alamat-resto {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .budget-resto {
    font-size: 20px;
  }

  .budget-title {
    margin-bottom: 0px;
  }

  .budget-harga {
    margin-top: 0px !important;
  }

  .budget-group  {
    padding: 5px 0px 0px 10px;
  }

  .rating-group-icon {
    height: 30px;
    width: 30px;
  }

  .detail-button-group {
    padding: 50px 35px 0 35px;
  }

  .detail-button {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  figcaption.detail-menu-flex {
    padding-left: 45px;
  }

  .hasil-cari-text {
    font-size: 20px;
  }

  .hasil-cari-detail {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .hasil-cari-nama-resto {
    font-size: 15px;
  }

  .hasil-cari-rating {
    font-size: 15px;
  }

  .hasil-cari-alamat {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 70%;
  }

  .hasil-cari-avg-title {
    margin-top: 0px;
    font-size: 8px;
  }

  .hasil-cari-harga-value {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 70%;
  }

  .konfirmasi-title {
    font-size: 20px;
  }

  .konfirmasi-code {
  	font-size: 30px;
  }

  .nama-rek {
    font-size: 25px;
    margin-bottom: 0px;
  }

  .nomor-rek {
    font-size: 25px;
    margin-top: 0px;
  }

}

@media (max-width: 320px) {
  .current-location {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .hasil-cari-text {
    font-size: 15px;
  }

  .hasil-cari-detail {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .hasil-cari-nama-resto {
    font-size: 10px;
  }

  .hasil-cari-rating {
    font-size: 10px;
  }

  .hasil-cari-alamat {
    font-size: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 40%;
  }

  .hasil-cari-avg-title {
    margin-top: 0px;
    font-size: 7px;
  }

  .hasil-cari-harga-value {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 70%;
  }

  .konfirmasi-title {
    font-size: 16px;
  }

  .konfirmasi-code {
    font-size: 25px;
  }

  .code-booking-button {
    font-size: 16px;
  }

  .pilih-bank-code {
  	font-size: 25px;
  }

  .pilih-bank-title {
  	font-size: 20px;
  	margin-top: 40px;
  	margin-bottom: 80px;
  }

  .nama-rek {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .nomor-rek {
    font-size: 20px;
    margin-top: 0px;
  }



}
